body {
    background-color: white;
  }

  .bg {
    background-color: red;
  }
  .el {
    color: red;
    width: 200px;
    border: 1px solid red;
  }
  .el:after {
    padding-left: 20px;
    content: "0%";
    display: block;
    text-align: center;
    font-size: 50px;
    padding: 10px 20px;
    color: cyan;
    mix-blend-mode: difference;
  }
  html {
    height: 100%;
    background-color: white;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
  }
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  